.container-fluid {
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container-fluid .navbar {
  background-color: #ffffff;
  width: 85%;
  position: absolute;
  top: 5vh;
  z-index: 1000;
  border-radius: 20px;
  padding: 1vh 5vw;
  left: 8vw;
}

.container-fluid .navbar .navbar-brand img {
  width: 60px;
  height: 57.41px;
}

.container-fluid .navbar-expand-lg .navbar-nav .nav-item {
  margin: 0 1vw;
}

.container-fluid .navbar-expand-lg .navbar-nav .nav-link {
  color: #000000;
}

.container-fluid .navbar-expand-lg .navbar-nav .form-inline .search {
  background-color: #e8e8e8;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1vh 2vw;
  height: 40px;
}

.container-fluid .navbar-expand-lg .navbar-nav .form-inline .btn-search {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 1vw;
}

.carousel-background-1 {
  background: url("asset/cover.jpg") no-repeat;
  height: 85vh;
  background-size: 100% 100%;
}

.carousel-inner {
  text-transform: capitalize;
}

.carousel .carousel-inner .carousel-item .wrapper {
  background: linear-gradient(
    247.3deg,
    rgba(5, 115, 171, 0.6) 0%,
    rgba(16, 77, 236, 0.6) 99.74%
  );
  min-height: 85vh;
  max-height: 85vh;
  padding: 25vh 20vw;
  color: #ffffff;
}

.carousel .carousel-inner .carousel-item .wrapper h1 {
  width: 35vw;
  line-height: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container-fluid .feature {
  padding: 10vh 10vw;
}

.container-fluid .feature .row .feature-item {
  padding: 0 2vw;
}

.container-fluid .feature .row .feature-item .feature-content .feature-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  color: #0573ab;
  margin: 4vh 0;
  line-height: 30px;
}

.container-fluid
  .feature
  .row
  .feature-item
  .feature-content
  .feature-description {
  line-height: 25px;
}

.container-fluid .facilities {
  padding: 0 10vw 10vh 10vw;
}

.container-fluid .facilities .row .facilities-text .title {
  font-family: "Poppins", sans-serif;
  color: #0573ab;
  text-transform: capitalize;
  font-weight: bold;
}

.container-fluid .facilities .row .facilities-item .carousel .carousel-inner {
  padding: 0 8vw;
}

.container-fluid
  .facilities
  .row
  .facilities-item
  .carousel
  .carousel-indicators {
  position: relative;
  top: 65vh;
}

.container-fluid
  .facilities
  .row
  .facilities-item
  .carousel
  .carousel-indicators
  li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #0573ab;
}

.container-fluid
  .facilities
  .row
  .facilities-item
  .carousel
  .carousel-indicators
  .active {
  background-color: #0573ab;
}

.container-fluid .facilities .row .facilities-item .facilities-content {
  border: solid 2px #0573ab;
  border-radius: 10px;
}

.container-fluid
  .facilities
  .row
  .facilities-item
  .facilities-content
  .facilities-img {
  width: 100%;
  height: 200px;
}

.container-fluid .facilities .row .facilities-item .facilities-content h5 {
  font-weight: 500;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #0573ab;
  margin: 3vh 0;
}

.container-fluid .facilities .row .facilities-item .facilities-content p {
  padding: 0 2vw;
}

.container-fluid .news {
  padding: 10vh 10vw;
}

.container-fluid .news h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  color: #0573ab;
}

.container-fluid .news .subtitle {
  text-align: center;
  text-transform: capitalize;
}

.container-fluid .news .row {
  margin: 8vh 0;
}

.container-fluid .news .row .news-item .news-content img {
  width: 100%;
}

.container-fluid .news .row .news-item .news-content h4 {
  color: #0573ab;
  font-weight: 600;
  margin: 5vh 0;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  min-height: 60px;
}

.container-fluid .news .row .news-item .news-content p {
  line-height: 25px;
}

.container-fluid .news .row .news-item .news-content .date,
.container-fluid .news .row .news-item .news-content .read-time {
  color: #515151;
  font-size: 14px;
  text-transform: capitalize;
}

.container-fluid .news .row .news-item .news-content .read-time {
  float: right;
}

.container-fluid .gallery {
  padding: 10vh 0;
  background-color: #0573ab;
  color: #ffffff;
  height: 750px;
}

.container-fluid .gallery h4 {
  font-family: "Poppins";
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.container-fluid .gallery .gallery-content {
  margin: 10vh 10vw 0 10vh;
}

.container-fluid .gallery .gallery-content .gallery-item img {
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.container-fluid .gallery .gallery-content .gallery-item .wrapper {
  background: linear-gradient(
    247.3deg,
    rgba(5, 115, 171, 0.6) 0%,
    rgba(16, 77, 236, 0.6) 99.74%
  );
  padding: 5vh 2vw;
  position: relative;
  top: -39vh;
  height: 250px;
  cursor: pointer;
}

.container-fluid .gallery .gallery-content .gallery-item .wrapper .icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto 3vh auto;
  padding: 1vh 1vw;
}

.container-fluid
  .gallery
  .gallery-content
  .gallery-item
  .wrapper
  .icon
  .iconify {
  margin-top: 0.5vh;
}

.container-fluid .gallery .gallery-content .gallery-item .wrapper h4 {
  line-height: 150%;
}

.container-fluid .gallery .wave {
  position: relative;
  top: -200px;
}

.container-fluid .contact {
    margin: 10vh 0 0 0;
}

.container-fluid .contact .row {
 margin: 0 !important;
}

.container-fluid .contact .row .contact-item {
    padding: 0 5vw;
    text-transform: capitalize;
}

.container-fluid .contact .row .contact-item h4 {
    color: #0573ab;
    font-weight: 600;
    text-transform: capitalize;    
    font-family: "Poppins", sans-serif;
}   

.container-fluid .contact .row .contact-item .row {
    margin: 5vh 0 !important;
}

.container-fluid .contact .row .contact-item .row  form .form-control {
    border: none;
    background-color: #e8e8e8;
    height: 50px;
    padding: 0 2vw;
}

.container-fluid .contact .row .contact-item .row  form textarea {
    padding-top: 2vw !important;
    height: 150px !important;
}

.container-fluid .contact .row .contact-item .row .btn-contact {
  width: 100%;
  background-color: #0573ab;
  border: none;
  color: #ffffff;
  padding: 2vh 0;
  cursor: pointer
}

.container-fluid .contact .row .contact-item .row .social-media-info {
  text-transform: none;
}

.container-fluid .contact .row .contact-item .row .social-media-info .iconify {
   margin-top: 0vh;;
}

.container-fluid .contact .row  .contact-maps {
  padding: 0;
}

.container-fluid .contact .row  .contact-maps .location-detail {
  background-color: #ffffff;
  width: 80%;
  position: relative;
  top: -400px;
  left: 50px;
}

.container-fluid .contact .row  .contact-maps .location-detail .row .image {
  padding: 0;
}

.container-fluid .contact .row  .contact-maps .location-detail .row .image img {
  width: 100%;
  height: 110px;
}

.container-fluid .contact .row  .contact-maps .location-detail .row .location-name {
  padding: 2vh 2vw;
}

.container-fluid .contact .row  .contact-maps .location-detail .row .location-guide .get-guide {
  background-color: #0573ab;
  margin: 5vh 0;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  padding: 0.5vh 0;
}

.container-fluid .contact .row  .contact-maps .location-detail .row .location-guide .get-guide p {
  margin: 1vh 0;
}

.container-fluid footer {
  background-color: #0573ab; 
  padding: 10vh 10vw;
  color: #ffffff; 
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.container-fluid footer h5 {
  margin-bottom: 3vh;
}
.container-fluid footer a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 1vh 0;
}

.container-fluid footer a:hover {
  text-decoration: underline;
} 

.container-fluid footer .credit {
  margin-top: 10vh;
  text-align: center;
}

.container-fluid footer .credit-link {
  display: inline  !important;
}

@media only screen and (max-width: 575px) {
  .navbar-nav {
    margin: 5vh 0;
  }

  .container-fluid .navbar-expand-lg .navbar-nav .nav-item {
    margin: 1vh 0;
  }

  .carousel-background-1 {
    height: 70vh;
  }
  
  .carousel .carousel-inner .carousel-item .wrapper h1 {
    font-size: 30px;
    line-height: 150%;
    width: 100%;
  }

  .feature .row .feature-item {
    margin-bottom: 5vh;
  }

  .facilities .row .facilities-item .carousel .carousel-indicators {
    top: 30vh !important;
  }

  .facilities .row .facilities-item .carousel .carousel-control-prev, .facilities .row .facilities-item .carousel .carousel-control-next, .facilities .row .facilities-item .carousel .carousel-inner .carousel-item p {
    display: none;
  }

  .container-fluid .news {
    padding: 0 10vw;
  }

  .container-fluid .news .row {
    margin: 0;
  }
  .container-fluid .news .row .news-item {
    margin: 3vh 0;
  }

  .container-fluid .news .row .news-item .news-content img {
    margin: 0 auto !important;
  }

  .container-fluid .news .row .news-item .news-content h4 {
    margin-bottom: 1vh;
  }

  .container-fluid .gallery {
    height: 1786px;
  }

  .container-fluid .gallery .gallery-content .gallery-item {
    margin: 5vh 0;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper .icon .iconify {
    margin: 0 2vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper {
    top: -20vh;
    padding: 4vh 10vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper h4 {
    font-size: 20px;
  }
  .container-fluid .gallery .gallery-content {
    margin: 0 3vw;
  }

  .container-fluid .contact .row .contact-item .row {
    margin: 2vh 0 !important;
  }

  .container-fluid .contact .row .contact-item .row div {
    margin-bottom: 5vh;
  }

  .container-fluid .contact .row .contact-maps .location-detail {
    display: none;
  }

  footer .row .col {
    margin-bottom: 5vh;
  }

  .container-fluid footer .credit {
    margin-top: 0;
  }
}

@media only screen and (min-width:576px) and (max-width: 767px) {
  .navbar-nav {
    margin: 5vh 0;
  }

  .container-fluid .navbar-expand-lg .navbar-nav .nav-item {
    margin: 1vh 0;
  }

  .container-fluid .feature .row .feature-item {
    margin-bottom: 5vh;
  }
  
  .facilities .row .facilities-item .carousel .carousel-indicators {
    top: 43vh !important;
  }

  .container-fluid .news {
    padding: 4vh 10vw;
  }

  .container-fluid .news .row .news-item .news-content img {
    height: 150px;
  }

  .container-fluid .news .row .news-item .news-content h4 {
    margin: 3vh 0;
  }

  .container-fluid .gallery {
    height: 1600px;
  }

  .container-fluid .gallery .gallery-content {
    margin: 10vh 10vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item {
    margin-bottom: 5vh;
  }
  
  .container-fluid .gallery .gallery-content .gallery-item .wrapper {
    top: -20vh;
    padding: 4vh 10vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper .icon .iconify {
    margin:-0.1vh 0.5vw;
  }

  .contact .row .contact-item .row div {
    margin-bottom: 5vh;
  }

  .container-fluid .contact .row .contact-maps .location-detail {
    display: none;
  }

  .container-fluid footer .credit {
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-background-1 {
    height: 73vh;
  }

  .carousel .carousel-inner .carousel-item .wrapper {
    height: 73vh;
  }

  .carousel .carousel-inner .carousel-item .wrapper h1 {
    width: 80%;
  }

  .container-fluid .feature .row .feature-item .feature-content .feature-title {
    height: 100px;
  }

  .container-fluid .facilities .row .facilities-item .facilities-content p {
    display: none;
  }

  .container-fluid .facilities .row .facilities-item .carousel .carousel-indicators {
    top: 31vh;
  }

  .container-fluid .news {
    padding: 5vh 10vw;
  }

  .container-fluid .news .row .news-item .news-content h4 {
    height: 100px;
    margin: 3vh 0;
  }

  .container-fluid .gallery {
    padding: 5vh 0;
    height: 1000px;
  }

  .container-fluid .gallery .gallery-content {
    margin: 5vh 5vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item {
    margin-bottom: 5vh;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper {
    top: -20vh;
    padding: 3vh 2vw;
  }

  .container-fluid .gallery .gallery-content .gallery-item .wrapper .icon .iconify {
    margin-top: 0;
    margin-left: 0.3vh;
  }
  .container-fluid .gallery .wave {
    top: -21vh;
  }
}